<!-- Tabs navs nav nav-tabs nav-fill mb-3-->
<div class="container">

    <nav ngbNav #nav="ngbNav" class="nav nav-tabs nav-fill mb-3 mt-2">
        <ng-container ngbNavItem>
            <a ngbNavLink>SMS List</a>
            <ng-template ngbNavContent>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let sms of smsList">{{sms.message}}</li>
                  </ul>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink>Call Logs</a>
            <ng-template ngbNavContent>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let call of callList">{{call.number}} {{call.name}} {{call.date_str}}</li>    
                </ul>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink>Notifications</a>
            <ng-template ngbNavContent>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let noti of notificationList">{{(!noti.number ? 'someone' : noti.number)}} {{noti.isRinging ? 'is calling' : 'called'}}... <small>{{noti.date_str}}</small></li> 
                  </ul>
            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>